<template>
  <b-container>

			<h1>{{ title }}</h1>

    <b-row class="align-items-center justify-content-center">
      <b-col>
        <div id="responsive-container">
          <video-player v-if="source !== 'dailymotion' && trackList !== null" class="vjs-custom-skin vjs-big-play-centered"
                               ref="videoPlayer"
                               :options="playerOptions"
                               :playsinline="true"
                               :trackList="trackList">
          </video-player>
          <div v-if="source === 'dailymotion'" id="playerDailymotion"></div>
        </div>
      </b-col>
    </b-row>

    <b-row class="align-items-center justify-content-center">
  		<div id="subtitle"></div>
  		<div id="comment_container">
        <b-card>
          <SYVPlaylistNavigator v-if="belongToPlaylist && videoNeighboring !== null" :videoNeighboring="videoNeighboring"/>
          <b-form inline>
                Tags : <div id="tagContainer"><b-badge :href="`result?tag=${videoTag.name}`" class="badge" variant="info" v-for="videoTag in listVideoTag" :key="videoTag.id">{{ videoTag.name }}</b-badge></div>
                <SYVTagAdder v-if="isAuthenticated" ref="tagAdder" :listTag="listTag" tagSize="sm" @onAddTag="createTag"/>
          </b-form>
          <b-form inline>
                <div id="comment_checkbox">
                    <b-form-checkbox id="checkbox1"
                                     v-model="status"
                                     value="accepted"
                                     unchecked-value="not_accepted">
                                  {{ $t("token.show_comments") }}
                    </b-form-checkbox>
                </div>
                <div id="showDivComment" v-if="isAuthenticated">
                    <b-button variant="default" @click="togglePostComment">{{ $t("token.post_comment") }}</b-button> 
                </div>
          </b-form>
          <SYVCommentPoster ref="commentPoster" v-if="showPostComment" @onPostComment="createComment"/>
        </b-card>
  		</div>
    </b-row>

  <b-row class="align-items-center justify-content-center">
    <b-card id="comments" title="Commentaires" v-if="status === 'accepted'">
      <SYVComment v-for="comment in listComment" :comment="comment" :key="comment.id"/>
    </b-card>
  </b-row>

  </b-container>  
</template>

<script>
import 'video.js/dist/video-js.css'
import { videoPlayer } from 'vue-video-player'
import 'videojs-youtube'
import 'videojs-vimeo'
import SYVTagAdder from '../components/SYVTagAdder.vue'
import SYVComment from '../components/SYVComment.vue'
import SYVCommentPoster from '../components/SYVCommentPoster.vue'
import SYVPlaylistNavigator from '../components/SYVPlaylistNavigator.vue'
import store from '../store/store'
import * as Notifier from '../lib/Notifier'

export default {
  name: 'SYVVideo',
  components: {
    videoPlayer,
    SYVTagAdder,
    SYVComment,
    SYVCommentPoster,
    SYVPlaylistNavigator
  },
  data () {
    return {
      showPostComment: false,
      status: 'accepted',
      listTag: [],
      listVideoTag: [],
      listComment: [],
      trackList: null,
      belongToPlaylist: null,
      videoNeighboring: null,
    }
  },
  created: function () {
    if(this.source == "dailymotion")  {
      this.loadDailymotionSDK();
    }
  },
  mounted: function () {
    this.checkVideo();
    this.checkBelongPlaylist();
    this.getAllTag();
    this.getVideoTag();
    this.getComment();
    this.getSubtitle(); 
  },
  computed: {
  	player() {
    	return this.$refs.videoPlayer.player
    },
    source() {
      return this.getVideoSource(this.$route.query.path);
    },
    playerOptions() {
    	  let type;
      	let techOrder;
        let deleteTechOrder = false;
      	this.path = this.$route.query.path;

      	if(this.source === "youtube") {
      		techOrder = ['youtube'];
      		type = 'video/youtube';
      	} else if (this.source === "vimeo") {
      		techOrder = ['vimeo'];
      		type = 'video/vimeo'
      	} /*else if (source === "dailymotion") {
      		techOrder = ['dailymotion'];
      		type = 'video/dailymotion'
      	}*/ else {
      		//TODO handle uploaded video
          type = 'video/mp4';
          deleteTechOrder = true;
      	}

        let config = {
          fluid: true,
          autoplay: false,
          sources: [{
            // mp4
            //type: 'video/mp4',
            //src: 'http://vjs.zencdn.net/v/oceans.mp4',
            // flv
            //type: 'video/x-flv',
            //src: 'http://fms.cntv.lxdns.com/live/flv/channel96.flv'
            type: type,
            src: this.path,
          }],
          //language: 'zh-CN',
          techOrder: techOrder,
          //poster: "https://surmon-china.github.io/vue-quill-editor/static/images/surmon-6.jpg"
        };

        if(deleteTechOrder) {
          delete config.techOrder;
        }

      	return config;
    },
    title() {
    	return this.$route.query.title;
    },
    idVideo() {
      return this.$route.query.id;
    },
    pathVideo() {
      return this.$route.query.path;
    },
    isAuthenticated() {
      return store.getters.isAuthenticated;
    },
  },
  methods: {
    	getVideoSource: function(url) {
    		if (url.includes("youtube.com") || url.includes("youtu.be")) {
    			console.log("format d'url non reconnu");
		      return "youtube";
		    } else if (url.includes("dailymotion.com") || url.includes("dai.ly")) {
		      return "dailymotion"
		    } else if (url.includes("vimeo.com")) {
		        return "vimeo";
		    } else {
		      console.log("format d'url non reconnu");
		      return undefined;
		    }
    	},
      loadDailymotionSDK() {
        window.dmAsyncInit = () => {
          DM.init({ 
            apiKey: process.env.DAILYMOTION_KEY, 
            status: true, // check login status
            cookie: true  // enable cookies to allow the server to access the session
          });
          this.addDailymotionPlayer();
        };
        (function() {
          var e = document.createElement('script');
          e.async = true;
          e.src = 'https://api.dmcdn.net/all.js';

          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(e, s);
        }());
      },
      addDailymotionPlayer() {
        let index = this.pathVideo.lastIndexOf("/");
        index++;
        let dailymotionCode = this.pathVideo.substring(index, this.pathVideo.length);
        if (dailymotionCode.includes("_")) {
          let index2 = dailymotionCode.indexOf("_");
          dailymotionCode = dailymotionCode.substring(0, index2);
        }

        var player = DM.player(document.getElementById('playerDailymotion'), {
          video: dailymotionCode
        });

        //player.addEventListener('paused', onPause);

        //player.addEventListener('progress', onDailymotionPlay);
    },
    createTag(evtData){
      console.log("event",evtData)
      //alert(JSON.stringify(evtData));
      let tagToCreate = evtData.tagName;
      if(tagToCreate.trim() !== '') {
        if(this.listVideoTag.filter(tag => tag.name == tagToCreate).length == 0 && 
          this.listTag.filter(tag => tag.name == tagToCreate).length == 0) {
          this.axios.post(process.env.URL_API + '/tag', { name: tagToCreate })
          .then((response) => {
            console.log("response ok", response.data);
            let newTag = response.data;
            // association entre le nouveau tag et la vidéo
            this.axios.post(process.env.URL_API + '/tag/' + response.data.id + '/video/' + this.idVideo , {})
            .then((response) => {
              console.log("response ok", response.data);
              this.$refs.tagAdder.reset();
              this.listTag.push(newTag);
              this.listVideoTag.push(newTag);
            })
            //TODO  
            // 1/ Faire méthode qui vérifie si l'id dans l'url correspond bien à la vidéo
            //  faire un find(id) et comparer id, titre et path
            //  Si ok -> afficher la vidéo
            //  Sinon -> notifier que la vidéo n'est pas reconnue et rediriger vers la page d'accueil
            // 2/ Persister quel utilisateur a créé quel tag
          })
          .catch((error) => {
            console.log("response error", error);
            Notifier.notifyError(this.$i18n.t('token.add_tag_error', this.$i18n.locale));
          });
        } else {
          if(this.listVideoTag.filter(tag => tag.name == tagToCreate).length == 0 && 
            this.listTag.filter(tag => tag.name == tagToCreate).length != 0){
            //on récupère l'ID du tag et on fait la deuxième étape
            let selectedTag =  this.listTag.filter(tag => tag.name == tagToCreate)[0];
            // association entre le tag existant et la vidéo
            this.axios.post(process.env.URL_API + '/tag/' + selectedTag.id + '/video/' + this.idVideo , {})
            .then((response) => {
              console.log("response ok", response.data);
              this.$refs.tagAdder.reset();
              this.listVideoTag.push(selectedTag);
            })
            .catch(function (error) {
              console.log("response error", error);
            });
          } else {
            //TODO notifier que la vidéo est déjà associé à ce tag
            console.log("La vidéo est déjà associée à ce tag.")
          }
        }
      } else {
        //TODO notifier qu'il faut entrer un nom de tag
        console.log("Il faut entrer un nom de tag.")
      }
    },
    createComment(evtData){
      console.log("event",evtData);
      //alert(JSON.stringify(evtData));
      if(evtData.text.trim() !== '') {
        evtData.id_user = store.getters.getProfile.id; ;
        evtData.id_video = this.idVideo;
        this.axios.post(process.env.URL_API + '/comment', evtData )
        .then((response) => {
          console.log("response ok", response.data);
          //TODO 
          //1\ notifer que le commentaire a bien été créé 
         this.$refs.commentPoster.reset();
          //on ajoute le pseudo à la réponse
          response.data.user = { nickname : store.getters.getProfile.nickname };
          //on ajoute le commentaire en tête de la liste des commentaire
           this.listComment.unshift(response.data);
           Notifier.notifySuccess(this.$i18n.t('token.add_comment_success', this.$i18n.locale));
        })
        .catch((error) => {
          console.log("response error", error);
          Notifier.notifyError(this.$i18n.t('token.add_comment_error', this.$i18n.locale));
        });
      } else {
        //TODO notifier qu'il faut entrer un message
      }
    },
    togglePostComment(){
      this.showPostComment = !this.showPostComment;
    },
    getAllTag: function() {
      this.axios.get(process.env.URL_API + '/tag')
      .then((response) => {
        console.log("response ok", response.data);
        this.listTag = response.data;
      })
      .catch(function (error) {
        console.log("response error", error);
        return null;
      });
    },
    getVideoTag: function() {
      this.axios.get(process.env.URL_API + '/tag/' + this.idVideo +'/video')
      .then((response) => {
        console.log("response ok", response.data);
        this.listVideoTag = response.data;
      })
      .catch(function (error) {
        console.log("response error", error);
        return null;
      });
    },
    getComment: function() {
      this.axios.get(process.env.URL_API + '/comment/video/' + this.idVideo + '/details')
      .then((response) => {
        console.log("response ok", response.data);
        //on affiche les commentaires du plus récent au plus ancien
        this.listComment = response.data.reverse();
      })
      .catch(function (error) {
        console.log("response error", error);
        return null;
      });
    },
    getSubtitle: function() {
      this.axios.get(process.env.URL_API + '/subtitle/video/' + this.idVideo)
      .then((response) => {
        console.log("response ok", response.data);
        this.trackList = response.data.reverse();
        this.formatTrackList();
      })
      .catch((error) => {
        console.log("response error", error);
        return null;
      });
    },
    formatTrackList: function() {
      for(let i = 0; i < this.trackList.length; i++){
        let subtitleName = this.trackList[i].path.replace(/^.*[\\\/]/, '');
        this.trackList[i].src = this.trackList[i].path;
        this.trackList[i].kind = 'subtitles';
        this.trackList[i].label = this.trackList[i].name;
        this.trackList[i].srcLang = this.trackList[i].lang;
        delete this.trackList[i].pivot;
        delete this.trackList[i].path;
        delete this.trackList[i].id;
        delete this.trackList[i].name;
        delete this.trackList[i].lang;
      }
    },
    checkVideo: function() {
      console.log("this.idVideo", this.idVideo);
      if( typeof this.idVideo == 'undefined' || this.idVideo == '' ) {
        console.log("no id video");
        //go to not found page
        this.$router.push('SYVNotFound');
      } else {
        this.axios.get(process.env.URL_API + '/video/' + this.idVideo)
        .then((response) => {
          console.log("response ok", response.data);
          //on affiche les commentaires du plus récent au plus ancien
          if(
            response.data.id == this.idVideo && 
            response.data.path == this.pathVideo &&
            response.data.title == this.title) {
            console.log("Video ok");
            return true;
          } else {
            console.log("video fails verification");
            //go to not found page
            this.$router.push('SYVNotFound');
          }
        })
        .catch(function (error) {
          console.log("response error", error);
          return null;
        });
      }
    },
    checkBelongPlaylist: function() {
      //Even if a video don't have any neighboring, the result will not be an empty object if she it belongs to a playlist 
      this.axios.get(process.env.URL_API + '/playlist/video/' + this.idVideo + '/neighboring')
      .then((response) => {
        console.log("response ok", response.data);
        this.belongToPlaylist = !(Object.keys(response.data).length === 0 && obj.constructor === Object);
        this.videoNeighboring = response.data;
      })
      .catch((error) => {
        console.log("response error", error);
        return null;
      });  
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
  margin-bottom : 5px;
}

#comments {
  width: 610px;
}

#comment_container {
   width: 610px;
}

#tagContainer {
  margin-left: 5px;
  margin-right: 5px;
  font-size:20px;
}

.badge{
  margin-left: 1px;
  margin-right: 1px;
}

#responsive-container {
  width: 90%;
  margin: auto;
}
</style>
