<template>
  <div>
    <div>
      <select id="categoryInput"
                          required
                          v-model="source">
          <option value="vimeo">vimeo</option>
          <option value="youtube">youtube</option>
          <option value="dailymotion">dailymotion</option>
      </select>
    </div>
    <video-player class="vjs-custom-skin vjs-big-play-centered"
                  ref="videoPlayer"
                  :options="playerOptions"
                  :playsinline="true">
    </video-player>
  </div>
</template>

<script>
import 'video.js/dist/video-js.css'
import { videoPlayer } from 'vue-video-player'
//import '../lib/Dailymotion'

//import '../../node_modules/video.js'
import 'videojs-externals-6/dist/videojs-externals'
//import 'videojs-youtube'
//import 'videojs-vimeo'

export default {
  name: 'SYVHome',
  components: {
    videoPlayer
  },
  data () {
    return {
      source: 'dailymotion',
    }
  }, 
  mounted: function () {

  },
  methods: {

  },
  computed: {
    playerOptions() {
        let techOrder = [this.source];
        let type = 'video/' + this.source;
        let src;

        if(this.source === "youtube") {
          src = 'https://www.youtube.com/watch?v=zjdWL5pELIU';
        } else if (this.source === "vimeo") {
          src = 'https://vimeo.com/196683500';
        } else if (this.source === "dailymotion") {
          src = 'https://www.dailymotion.com/video/x72hvgk';
        }

        let config = {
          fluid: true,
          autoplay: false,
          sources: [{
            type: type,
            src: src
          }],
          techOrder: techOrder,
        };

        return config;
    },
}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
