<template>
  <div id="app">
    <router-view :key="$route.fullPath"/>
  </div>
</template>

<script>
import SYVHome from './components/SYVHome'

export default {
  name: 'app',
  components: {
    SYVHome
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}

body #nprogress .bar {
  background: #545b62;
}

body #nprogress .spinner-icon {
  border-top-color: #545b62;
  border-left-color: #545b62;
}
</style>
